main {
    margin: auto;
    width: 90%;
}

/* Header */
header {
    background-color: #4ea0ff;
    background-image: url("/img/pattern.png");
    background-size: 40%;
    height: 150px
}

#logo {
    position: relative;
    top: 45%;
    width: 300px;
    margin-left: 5%;

}

/* Titolo */
#titolo-articolo {
    font-size: 3em;
    margin: 0;
}

/* Autore articolo e data pubblicazione*/
.info-articolo {
    font-size: 19px;
}

.autore {
    font-size: 22px;
    color: #1ca7e3;
}

.data-articolo {
    font-size: 14px;
}

p {
    margin: 0;
}

/*foto articolo*/

.foto1 {
    height: 100%;
    width: 52%;
}

.foto2 {
    width: 45%;
    height: 100%;
}

.crediti-foto {
    font-size: 14px;
}

/* Testo evidenziato in giallo */

.testo-evidenziato {
    background-color: yellow;
}

/*stile lista */

ul {
    padding: 0;
    list-style: inside;
}

/* Tabella */

table {
    border-collapse: collapse;
}

thead {
    background-color: #20a9e5;
    color: white;
}

th {
    text-align: left;
}

.stile-righe {
    background-color: #b1e5f2;
}

.larghezza-colonne {
    width: 30%
}

/*Sezione "potrebbero interssarti"*/

h3 {
    color: grey;
    font-size: 20px;
    margin-bottom: 10px;
}

.testo-foto {
    position: absolute;
    top: 10px;
    color: white;
    font-size: 22px;
    font-weight: 600;
    margin-left: 1%;
}

.altri-link {
    position: relative;
}

.foto-altri-link {
    width: 18%;
    margin-bottom: 10px;
}